:root {
  --main-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --main-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  --dark--100: #121212;
  --dark--200: #282828;
  --dark--300: #3f3f3f;
  --primary--500: #a688fa;
  --primary--600: #ba9ffb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark--100);
}

.UI {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(9, 1fr);
  height: 660px;
  width: 540px;
  color: white;
  text-shadow: var(--main-text-shadow);
}

.top-bar {
  grid-area: 1 / 1 / 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
  background-color: var(--dark--200);
  font-size: 1.618rem;
  border-radius: 0.25rem;
}

.board {
  grid-area: 2 / 1 / 11 / 10;
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  color: white;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: var(--dark--200);
  color: white;
  border-radius: 0.25rem;
}

.even {
  background-color: var(--dark--300);
}

.active {
  border: 2px solid var(--primary--500);
}

.fixed {
  color: var(--primary--500);
}

.invalid {
  background-color: #ffe4ed
}

.footer {
  grid-area: 11 / 1 / 12 / 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.25rem;
  background-color: var(--dark--200);
  border-radius: 0.25rem;
}

.count {
  font-size: 1rem;
}

.solver-button, .reset-button {
  border-radius: 1rem;
  border: none;
  background-color: var(--primary--500);
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.solver-button:hover, .reset-button:hover {
  background-color: var(--dark--300);
  color: white;
}

.difficulty {
  background-color: var(--dark--200);
  height: 660px;
  width: 540px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: var(--main-box-shadow);
  text-shadow: var(--main-text-shadow);
}

.difficulty h1 {
  color: white;
  font-size: 1.618rem;
}

.diff-btn {
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.1s ease-in-out;
}

.diff-btn.easy {
  background-color: #acdf87;
}

.diff-btn.easy:hover {
  background-color: white;
  color: var(--dark--100);
  border: solid 5px #acdf87;
}

.diff-btn.medium {
  background-color: #ffb76b;
}

.diff-btn.medium:hover {
  background-color: white;
  color: var(--dark--100);
  border: solid 5px #ffb76b;
}

.diff-btn.hard {
  background-color: #ff5252;
}

.diff-btn.hard:hover {
  background-color: white;
  color: var(--dark--100);
  border: solid 5px #ff5252;
}
