* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: linear-gradient(45deg, #D2B48C 50%, #BC8F8F 50%);
}

.UI {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(9, 1fr);
  height: 660px;
  width: 540px;
  color: black;
}

.top-bar {
  grid-area: 1 / 1 / 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-bottom: none;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #A0522D;
}

.board {
  grid-area: 2 / 1 / 11 / 10;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #A9D6E5;
  color: white;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  font-size: large;
  background-color: #D2B48C;
}

.even {
  background-color: #BC8F8F;
}

.active {
  border: 2px solid lightcyan;
}

.fixed {
  color: black;
}

.invalid {
  background-color: pink;
}

.footer {
  grid-area: 11 / 1 / 12 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #A0522D;
}